tkinter
openai-whisper
logging
numpy<2
torch
pyannote.audio
pyaudio
ttkbootstrap
librosa
transformers
soundfile
torchaudio
torchvision
google-generativeai==0.3.2
python-dotenv==1.0.0
nltk==3.8.1
spacy==3.7.2
tkinterdnd2

